:root {
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: sans-serif;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 5rem;
}

p {
  font-size: 2.45rem;
  margin-bottom: 4rem;
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 75vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 2.4rem;
  padding: .4rem;
  width: 12.5rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #fff;
  background: #422564;
  border-radius: 6px;
}

.justify-center {
  justify-content: center;
}

.choices-container {
  display: flex;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  background: #422564;
  width:fit-content;
  height: 3rem;
}

.choice-number {
  color: #fff;
  font-size: 1.8rem;
  padding: .5rem;
}

.choice-text1,
.choice-text2,
.choice-text3,
.choice-text4 {
  color: #fff;
  font-size: 1.8rem;
  padding: .5rem;
}

.results-container {
  display: flex;
  max-width: 80rem;
  margin: 0 auto;
  border-top: 2px solid #E0E2DB;
}

.results {
  font-size: 2.2rem;
  font-style: italic;
}

#question {
  font-size: 3.8rem;
  font-weight: bolder;
  padding-bottom: 4rem;
}

#quiz-container {
  width: 75vw;
  padding-top: 100px;
  padding-bottom: 5px;
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

#high-score-button {
  font-size: 2.4rem;
  color: purple;
}

#timer {
  font-size: 2.4rem;
  padding-right: 1rem;
}

#final-score-container {
  display: none;
  width: 75vw;
  padding-top: 100px;
  padding-bottom: 5px;
  max-width: 80rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40 rem;
  }
}