/* #99BBAD
#EBD8B7
#C6A9A3
#9A8194 */
* {
    box-sizing:border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.header {
    padding: 40px;
}

.body {
    padding: 40px;
}